*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#sidebar {
  min-width: fit-content;
  max-width: 10%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

#content {
  width: 100%;
  max-width: 665px;

  font-size: 0.7rem;
  padding: 12.5px;
}

#content > p {
  font-size: 1rem;
}

#content > img {
  max-width: 100%;
}

.btn-leaf {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.sidebar-img {
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.gray-leaf {
  filter: brightness(0%);
}

@media screen and (min-width: 500px) {
  .sidebar-img {
    width: 150px;
    height: 150px;
  }

  #sidebar {
    min-width: 260px;
  }

  #content {
    font-size: 0.8rem;
  }

  #content > p {
    font-size: 1.1rem;
  }
}
